.btn {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	
	&.btn-outline {
		border: 2px solid #fff;
		color: #fff;

		&:hover {
			background-color: #fff;
			border-color: #fff;
			color: $dark-primary;
		}
	}

	&.btn-rounded {
		border-radius: 50px;
	}

	&.btn-filled {
		border: 2px solid #fff;
		background-color: #fff;
		color: $dark-primary;

		&:hover {
			background-color: transparent;
			border-color: #fff;
			color: #fff;
		}
	}
}
