body {
	padding-top: 50px;
}

.content {
	margin-top: 20px;
	margin-bottom: 20px;
}

.img-cover {
	background-size: cover;
}

.ellipsis {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

// Error Page
.page-error {
	margin-top: 10em;
	margin-bottom: 10em;
}

// Store Page
.page-title {
	padding-top: 3em;
	padding-bottom: 4em;
	background-color: $brand-info;
	color: #fff;
}

.breadcrumbs {
	padding: 20px 35px;
	background: #f1f5f8;
}

.energy {
	padding-top: 10px;
	padding-bottom: 20px;
}

// Auth Page
.auth-upper-text {
	color: #fff;
	padding: 5% 0;

	h4 {
		margin-bottom: 0;
	}
}

.auth-lower-text {
	color: #fff;
	position: absolute;
	bottom: 5%;
	text-align: center;
}

.list-inline-bullet li:before {
	content: '\00a0\2022\00a0\00a0';
}

// Dashboard Page
#dashboard {
	#sidebar {
		background-color: #1a1d24;
		padding-left: $grid-gutter-width;

		&[class^=col] {
			padding: 0;
		}	

		.list-group {
			li {
				padding-left: $grid-gutter-width;
			}

			a {
				color: #fff;

				&:hover, &.active {
					color: #ea1830;
					li {
						background-color: #ead7d9;
						border-right: 3px solid #ea1830;	
					}
				}
			}
		}
	}

	#content {
		margin-right: $grid-gutter-width/2;
	}	

	#pengetahuan {
		background: url('../images/web/inbound.png'); 
		background-size: cover; 
		height: 250px; 
		border-right: solid 10px $body-bg; 
		color:white; 
		padding-top:50px;
	}

	#upload {
		background: url('../images/web/upload.png'); 
		background-size: cover; 
		background-position:center; 
		height: 250px; 
		border-left: solid 10px $body-bg; 
		border-right: solid 10px $body-bg;
		text-align: center; 
		color: white;
		padding-top: 7%;
	}

	#pembayaran {
		background: url('../images/web/status-bayar.png'); 
		background-size: cover; 
		background-position:center; 
		height: 114px; 
		border-left: solid 10px $body-bg;  
		padding-top:40px;
	}

	#order {
		background: url('../images/web/order.png'); 
		background-size: cover; 
		height: 114px; 
		text-align:center; 
		border-left: solid 10px $body-bg;  
		padding-top:20px;
		color: #fff;
	}
}

// Landing Page

#featured-search {
	margin: 0 15%;
	
	.panel {
		position: relative;
		top: -35px;
		width: 100%;
	}

	.form-control {
		width: 100%;
		border: 0;
		box-shadow: none;
	}
} 

#featured-content {
	margin-top: $grid-gutter-width;
	margin-bottom: $grid-gutter-width;
	color: #fff;

	#sejarah {
		height: $featured-base-height;
		background: url('../images/web/picture1.jpg');
		background-size: cover;
		padding:0;

		.img-container {
			position: relative;
			top: 50%;
			transform: perspective(1px) translateY(-50%);
			padding: 0 30%
		}

		@media(max-width: $screen-tablet) {
			text-align: center;

			.img-container {
				padding: 0 10%;	
			}
		}
	}

	#komik {
		height: $featured-base-height/2;
		background: url('../images/web/picture2.jpg');
		background-size: cover;
		border-bottom: $grid-gutter-width/2 solid $body-bg;

		.img-container {
			position: relative;
			top: 50%;
			transform: perspective(1px) translateY(-50%);
			text-align: center;
			padding: 0 10%;
		}

		@media(max-width: $screen-tablet) {
			border-bottom: 0;
		}
	}

	#karya {
		height: $featured-base-height/2;
		background: url('../images/web/picture3.jpg');
		background-size: cover;
		border-bottom: $grid-gutter-width/2 solid $body-bg;

		.img-container {
			position: relative;
			top: 50%;
			transform: perspective(1px) translateY(-50%);
			text-align: center;
			padding: 0 10%;
		}

		@media(max-width: $screen-tablet) {
			border-bottom: 0;
		}
	}

	#pengalaman {
		height: $featured-base-height/2;
		background: url('../images/web/picture4.jpg');
		background-size: cover;
		border-top: $grid-gutter-width/2 solid $body-bg;

		.img-container {
			position: relative;
			top: 50%;
			transform: perspective(1px) translateY(-50%);
			text-align: center;
		}	

		@media(max-width: $screen-phone) {
			.img-container {
				h1 {
					font-size: 2em;
				}
			}
		}
	}
}

#popular-product {
	margin-bottom: $grid-gutter-width;

	.book {
		border: 1px solid $laravel-border-color;
		margin-bottom: 10px;
	}

	.book-title {
		padding: 0 10px;
		margin-bottom: 5px;
	}

	.book-price {
		padding: 0 10px;
		color: $brand-info;
		font-size: 14pt;
	}
}

#loops {
	display: block;
	max-height: 500px;
	height: auto;
	background: url('../images/web/bg-loop.jpg');
	background-size: cover;

	.img-container {
		color: #fff;
		padding: 5% 0;
	}

	@media(max-width: $screen-tablet) {
		.img-container {
			padding: 15% 0;
		}
	}
}

#promo {
	color: #fff;

	#promo-left	{
		border: $grid-gutter-width/2 solid $body-bg;
		background-color: #9b59b6;
		padding: 5% 0;

		h1 {
			padding-left: 15%;
			font-size: 4em;
		}
	}

	#promo-right {
		border: $grid-gutter-width/2 solid $body-bg;
		background-color: #3498db;
		padding: 5% 0;
	}

	h1, h2 {
		margin: 0;
	}

	@media(max-width: $screen-tablet) {
		#promo-left {
			text-align: center;

			h1 {
				padding: 0;
			}
		}
	}
}

// From old project
.panel-background {
	max-height: 130px;
	overflow: hidden;
}

.img-avatar-lg {
	max-width: 100px;
	width: 100px;
	position: absolute;
	top: 15px;
}

.table-clean tbody tr td {
	border-top: 0;
}

.table-product-details  {
	margin-bottom: 3em;

	tbody tr td {
		padding: 0;
	}
}

.table-divided tbody tr {
	border-bottom: 1px solid #eee;

	&:last-child {
		border-bottom: 0;
	}
}

.product-image-list {
	display: block;

	.image-list {
		max-height: 90px;
		display: inline;
		margin-right: 10px;
	}
}

.info-box {
	padding: 10px;
	border-radius: 3px;
	margin-bottom: 1em;
}

.tab-pane {
	margin: 10px;
}