@media(min-width: $screen-desktop) {
	.row-eq-height {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
	}
}

.container-addon {
	margin-left: 20px;
	margin-right: 20px;
}